# SPDX-FileCopyrightText: © 2025 SBT Localization https://sbt.localization.com.ua
# SPDX-FileContributor: Serhii Olendarenko <sergey.olendarenko@gmail.com>
#
# SPDX-License-Identifier: GPL-3.0-only

sbt-inf
sbt-infinity
.sbt-inf.toml
override
dist/

.DS_Store

out*/
example/
